<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yazlab1tarifrehberiprojesi.Properties.Settings.tarifrehberidatabaseConnectionString"
            connectionString="Data Source=DESKTOP-4PT8UQA\SQLEXPRESS;Initial Catalog=tarifrehberidatabase;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>